header {
   width: 100%;
   margin: 0 auto;
   padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px auto;
   background-color: #ffffffcb;
   backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
   box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
   border-bottom: 2px solid #e0e0e0;
   position: sticky;
   top: 0;
   z-index: 1000;
   flex-wrap: wrap;
   
 }

 header ul {
    list-style: none;
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 0;
    padding: 0;
 }

 header ul li {
    display: inline;
 }

 header nav ul a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
 }

   header nav ul a:hover {
    color: #555555;
   }


 header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
   padding: 0 20px;
   margin: 0 auto;
 }

.logo {
    height: auto;
    margin-right: 500px;
    height: 75px;

 }

 
 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
   }      



 .cart {
    margin-left: 45px;
    font-size: 20px;
    color: #000000;

   }
